@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_LayoutErrorHandler.cshtml";
}

<div id="error-type">
    <div class="error-type">
        <h2>Logged Out</h2>
        <h4>Session expired!</h4>
        <p>You have been successfully logged out from PIMS.</p>
        <p>
            <a class="btn btn-lg" href="/"><i class="fa fa-user"></i> Log in again</a>
        </p>
    </div>
</div>