@model ErrorViewModel
@{
    ViewData["Title"] = "Forbidden CMP Record";
    Layout = "~/Views/Shared/_LayoutErrorHandler.cshtml";
}



<div id="error-type">
    <div class="error-type">
        <div class="error-type-number"></div>
        @*    <h1>403</h1>*@
        <h2>Forbidden access to CMP EPAL Record</h2>
        <br />

        <span style="font-size: 14px;">
            You do not have access rights to this CMP record page in PIMS.
            <br /> <br />
            For administration support, please send an email to <b>PIMS_Operations_Team@ds.uhc.com</b>
            <br /> <br />
            or
            <br /> <br />
            click the link below.
            <br />
        </span>
        <a style="font-size:14px; text-decoration:underline" target="_blank" href="mailto:PIMS_Operations_Team@ds.uhc.com?subject=PIMS Support">PIMS Operations Team</a>
        @*<a href="javascript:void()" id="backToHome">Back to home</a>*@
        <br />   <br />
        <button id="btnGoBackEPALSearch" type="submit" onclick="location.href='@Url.ActionLink("Index", "Home")'" class="btn btn-primary noSubmit" title="Click to search records!"> Return to EPAL Search </button>
    </div>
</div>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
