<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
        <add key="TelerikFeed" value="https://centraluhg.jfrog.io/artifactory/api/nuget/v3/pims-nuget-release-loc/index.json" />
    </packageSources>
	<packageSourceMapping>	
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="TelerikFeed">
			<package pattern="Telerik.*" />
		</packageSource>
	</packageSourceMapping>
    <packageSourceCredentials>
        <TelerikFeed>
      <add key="Username" value="%JFROG_USERNAME%" />
      <add key="ClearTextPassword" value="%JFROG_API_KEY%" />
        </TelerikFeed>
    </packageSourceCredentials>
</configuration>
