<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="pimsLoggerFile" fileName=".\pims-logs\${shortdate}.log"
		layout="${longdate} ${uppercase:${level}} ${message}" />
		<!--${currentdir}/logs/${shortdate}.log-->

		<target xsi:type="File" name="nessLoggerFile" fileName="c:\NessLogging\pimsLogging[${processid}].log"
		layout="${message}" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="pimsLogger" minlevel="Trace" writeTo="pimsLoggerFile" />
		<logger name="nessLogger" minlevel="Trace" writeTo="nessLoggerFile" />
	</rules>
</nlog>
