@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Valid Values Changes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumb-background">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-background">
                <li class="breadcrumb-item"><a>@Html.ActionLink("Home", "index", "/", new { Area = "" }, new { @class = "breadcrumb-item-font" })</a></li>
                <li class="breadcrumb-item active" style="color: black !important; cursor: initial;" aria-current="page">Valid Values Changes</li>
            </ol>
        </nav>
    </div>
</div>
