@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutErrorHandler.cshtml";
}

<div id="error-type">
    <div class="error-type">
        <div class="error-type-number"></div>
     @*   <h1>500</h1>*@
        <h2>Oops! An error occured while processing your request.</h2>
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
        <br /> 
        <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try clicking the button below to go back home.</p>
        <br /> 
        <a class="btn btn-sm btn-outline-primary" href="javascript:void()" id="backToHome">Go back to home</a>
         <br /> <br /> 
            <span style="font-size: 14px;">
             For administration support, please send an email to <b>PIMS_Operations_Team@ds.uhc.com</b> 
             <br /> <br />
             or 
             <br /><br />
             click the link below. 
          <br /> 
        </span>
       <a style="font-size:14px; text-decoration:underline" target="_blank" href="mailto:PIMS_Operations_Team@ds.uhc.com?subject=PIMS Support">PIMS Operations Team</a> 
    </div>
</div>