@using Kendo.Mvc.UI

<script src="~/js/Admin/_CategoryUpdate.js" asp-append-version="true"></script>

<div class="modal fade editCategoryModal" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCategoryModalLabel">Category Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: 50px;margin-left: 0px;">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Row 1 -->
                <div class="form-row my-row-padding">
                    <label for="ProcedureCode_Edit:" class="col-lg-5 text-lg-right text-sm-left col-form-label font-modal-weight required">Procedure Code:</label>
                    <div class="col-lg-7">
                        <input type="text" readonly class="form-control" id="ProcedureCode_Edit" value="">
                    </div>
                </div>
                <!-- Row 3 -->
                <div class="form-row my-row-padding">
                    <input type="hidden" id="AlternateCategory_Edit_Old" />
                    <label for="AlternateCategory_Edit:" class="col-lg-5 text-lg-right text-sm-left col-form-label font-modal-weight required">New Alternate Category:</label>
                    <div class="col-lg-7">
                        @(Html.Kendo().DropDownList()
                            .Name("AlternateCategory_Edit")
                            .DataTextField("RET_VAL")
                            .DataValueField("RET_VAL")
                            .OptionLabel("---Select Specialty---")
                            .HtmlAttributes(new { style = "width: 100%" })
                            .Events(e =>
                            {
                                e.Change("_categoryUpdateController.multiSelect.onChange_AlternateCategory").Filtering("_categoryUpdateController.multiSelect.onFiltering_AlternateCategory");
                            })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetSpecialtyCombination", "Home", new { Area = "Admin" }).Data("_categoryUpdateController.dropdown.param.ALTERNATE_CATEGORY");                                    
                                });
                            })
                            )
                    </div>
                </div>
                <!-- Row 4 -->
                <div class="form-row my-row-padding">
                    <input type="hidden" id="AlternateSubCategory_Edit_Old" />
                    <label for="AlternateSubCategory_Edit:" class="col-lg-5 text-lg-right text-sm-left col-form-label font-modal-weight">New Alternate Sub Category:</label>
                    <div class="col-lg-7">
                        @(Html.Kendo().DropDownList()
                            .Name("AlternateSubCategory_Edit")
                            .DataTextField("RET_VAL")
                                .DataValueField("RET_VAL")
                            .OptionLabel("---Select Specialty---")
                            .HtmlAttributes(new { style = "width: 100%" })
                            .Events(e =>
                            {
                                e.Change("_categoryUpdateController.multiSelect.onChange_AlternateSubCategory").Filtering("_categoryUpdateController.multiSelect.onFiltering_AlternateSubCategory");
                            })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                        read.Action("GetSpecialtyCombination", "Home", new { Area = "Admin" }).Data("_categoryUpdateController.dropdown.param.ALTERNATE_SUB_CATEGORY");
                                })
                                .ServerFiltering(true);
                            })
                            @*.AutoBind(false)
                            .CascadeFrom("AlternateCategory_Edit")*@
                      )
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnValidateEdit" class="btn btn-primary noSubmit btnValidateEdit" title="Click to validate record!"><i class="fas fa-save"></i> Validate </button>
                <button type="button" id="btnResetEdit" class="btn btn-secondary">Reset</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>