@using Kendo.Mvc.UI;
@using MI.PIMS.BO.Dtos;

@Html.Hidden("txtGDLN_DTQ_SYS_SEQ")
@Html.Hidden("txtGDLN_ATS_RowNumber")
<div class="container">

    @(Html.Kendo().Grid<DPOC_INV_DTQS_V_Dto>()
        .Name("grid_config")
        .Columns(columns =>
        {
            columns.Bound(p => p.RowNumber).Hidden(true);
            columns.Bound(p => p.GDLN_DTQ_SYS_SEQ).Hidden(true);
            columns.Bound(p => p.DTQ_IQ_GDLN_ID).Hidden(true);
            columns.Bound(p => p.POS_APPL).Title("POS Codes").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;" }).Width(100);
            columns.Bound(p => p.POS_INCL_EXCL_CD).Hidden(true);
            columns.Bound(p => p.POS_INCL_EXCL_DESC).Title("POS<br/>Include/Exclude").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;" }).Width(130);
            columns.Bound(p => p.STATES_APPL).Editable("nonEditable").Title("States").Sortable(false)
            .ClientTemplate(
            "# if(STATES_APPL.length > 0){#" +
            "<a href='javascript:void(0);' style='text-overflow:ellipsis;width:90px;color:blue;' onclick=\"StateInfoController.openStatePopup(this);\" title='Click to view details!' \\data-target='tooltip'\\>#=STATES_APPL.replace(/\\|/g, ',')#</a>" +
            "# } else { #" +
            "..." +
            "# } #"
            )
            .HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;" }).Width(100);
            columns.Bound(p => p.STATES_INCL_EXCL_CD).Hidden(true);
            columns.Bound(p => p.STATES_INCL_EXCL_DESC).Title("State<br/>Include/Exclude").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;max-length:50;" }).Width(130);
            columns.Bound(d => d.DTQ_NM).Title("DTQ Name").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;max-length:50;" }).Width(130);
            columns.Bound(d => d.TGT_DTQ).Title("Target DTQ").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;" }).Width(130);
            columns.Bound(d => d.TGT_DTQ_VERSION).Title("Target DTQ<br/>Version").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;" }).Width(130);
            columns.Bound(d => d.HOLDING_DTQ).Title("Holding DTQ").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;" }).Width(130);
            columns.Bound(d => d.HOLDING_DTQ_VERSION).Title("Holding DTQ<br/>Version").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;" }).Width(130);
            columns.Bound(d => d.DPOC_SOS_PROVIDER_TIN_EXCL).Title("SOS Provider <br/>TIN Exclusion").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;" }).Width(150);
            columns.Bound(d => d.DPOC_ADDTNL_RQRMNTS).Title("Additional Requirements<br/> (Limit 500 Character Max)").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;max-length:50;" }).Width(180);
            columns.Bound(d => d.PKG_CONFIG_COMMENTS).Title("Comments").Sortable(false).HeaderHtmlAttributes(new { style = "vertical-align:text-top;background:white;font-weight:bold;max-length:50;" }).Width(180);
        })
        .Resizable(resize => resize.Columns(true))
        .HtmlAttributes(new { style = "height: 400px;" })
        .Scrollable()
        .Sortable()
        .Events(events => events.DataBound("DPOC_ConfigController.grid.onDataBound"))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(100)
                .Read(read => read.Action("GetConfigurations", "GuidelineSummary", new { Area = "DPOC" }).Data("DPOC_ConfigController.grid.params"))
        )
        .AutoBind(false) //BUG 139790 MFQ 11/11/2025
    )
</div>