@model MI.PIMS.BO.Dtos.DPOC_Inventories_V_Dto

<div class="container detail-tab-section">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="DPOCSummary-tab" data-toggle="tab" href="#DPOCSummary" role="tab" aria-controls="DPOCSummary" aria-selected="true">DPOC Summary</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="GuidelineSummary-tab" data-toggle="tab" href="#GuidelineSummary" role="tab" aria-controls="GuidelineSummary" aria-selected="false">Guideline Summary</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="additionalInformation-tab" data-toggle="tab" href="#additionalInformation" role="tab" aria-controls="additionalInformation" aria-selected="false">Notes</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link required" id="changeHistory-tab" data-toggle="tab" href="#changeHistory" role="tab" aria-controls="changeHistory" aria-selected="false">Change History</a>
        </li>
        @if (@ViewBag.DuplicateRecord != "Y") // <== Hide Historical Information if duplicate record.
        {
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="historicalInformation-tab" data-toggle="tab" href="#historicalInformation" role="tab" aria-controls="historicalInformation" aria-selected="false">Historical Information</a>
            </li>
        }
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="DPOCSummary" role="tabpanel" aria-labelledby="DPOCSummary-tab">
            <partial name="_DPOCSummary" model="Model" view-data="ViewData" />
        </div>
        <div class="tab-pane fade" id="GuidelineSummary" role="tabpanel" aria-labelledby="GuidelineSummary-tab">
            <partial name="Guideline/_Guideline_Summary" model="Model" view-data="ViewData" />
        </div>
        <div class="tab-pane fade" id="additionalInformation" role="tabpanel" aria-labelledby="additionalInformation-tab">
            <partial name="_AdditionalInformation" view-data="ViewData" />
        </div>
        <div class="tab-pane fade" id="changeHistory" role="tabpanel" aria-labelledby="changeHistory-tab">
            <partial name="_ChangeHistory" view-data="ViewData" />
        </div>
        @if (@ViewBag.DuplicateRecord != "Y") // <== Hide Change History and Historical Information if duplicate record.
        {
            <div class="tab-pane fade" id="historicalInformation" role="tabpanel" aria-labelledby="historicalInformation-tab">
                <partial name="_HistoricalInformation" view-data="ViewData" />
            </div>
        }

    </div>
</div>
<script>
    $(document).ready(function () {
        const tabs = myTab.querySelectorAll(".nav-item");
        tabs.forEach(tab => {
            tab.addEventListener('click', (event) => {
                const appInsightsClient = new TelemetryLogger();
                if(appInsightsClient.isAppInsightsEnabled("Client.DPOCView")) {
                    var tabStr = event.target.innerText;
                    const logProperties = new LogInfo(event.target.id, MS_ID, "DPOC Detail View " + tabStr + " Tab click");
                    appInsightsClient.trackEvent('Client.DPOCView.' + tabStr.replaceAll(' ', ''), logProperties);
                }
            });
        });
    });
</script>